.Notifications {
    padding: 1em;
    border: 2px dashed red;
    position: absolute;
    top: 2.5em;
    right: 0;
}

.notificationHeader {
    display: flex;
    justify-content: space-between;
}

.menuItem {
    text-align: right;
}

[data-notification-type="default"] {
    color: blue;
}

[data-urgent],
[data-notification-type="urgent"] {
    color: red;
}